<div id=smodel<%= model.id %> class="productconditional">
 <div class="span12 text-center bold"><aboutme>Model <%= model.name %>:</aboutme></div> <br/>
 <div class="span12"><%= best_in_place model, :description, :type => :textarea, :nil => "N/A - Click to provide a model description for the brand" %></div>
</div>


