<section class="addmodel" id=lbrand<%= brand.id %> data-id=brand<%= brand.id %>>
 | <a href="#" >Add Model</a>  </section>
<%= render 'shared/addModel_form', :brand => brand, :product => product %>


