<%= form_for(@current_user.relationship_products.build(followedproduct_id: product.id)) do |f| %>
  <%= f.hidden_field :followedproduct_id %>
  <% if type == "link" %>
    <a href="#" onClick="$(this).closest('form').submit()" title="Click to follow(click again to Unfollow)">Follow</a>
  <% else %>
    <%= f.submit "Follow", class: "btn" %>
  <% end %>
<% end %>
