<%= form_for(@current_user.relationship_ads.build(followedad_id: ad.id)) do |f| %>
  <%= f.hidden_field :followedad_id %>
  <% if type == "link" %>
    <a href="#" onClick="$(this).closest('form').submit()">Follow</a>
  <% else %>
    <%= f.submit "Follow", class: "btn" %>
  <% end %>
<% end %>
