<%= form_for(@current_user.relationship_ads.build(followedad_id: ad.id)) do |f| %>
  <%= f.hidden_field :followedad_id %>
  <a href="#", onClick="$(this).closest('form').submit(); return false;">Follow</a>
<% end %>
