<p class="product">
  <div class="row-fluid">
    <div class="span3">
      <%= f.label :name, "Product Name", :class_name => "hidden_option" %>
    </div>
    <div class="span6">	
      <%= f.text_field :name, :class_name => "hidden_option" %>
    </div>
    <div class="span2">
      <%= link_to_remove_fields "remove", f %>
    </div>
  </div>	
</p>

