<tr class="product">
      <td><%= f.text_field :name, :class_name => "hidden_option", :placeholder => "Product name*" %></td>
      <td><%= f.text_field :model, :class_name => "hidden_option", :placeholder => "Model" %></td>
      <td><%= link_to_remove_fields "remove", f, "retail" %></td>
</tr>

