<%= form_for(@current_user.relationship_ads.find_by_followedad_id(ad), html: { method: :delete }) do |f| %>
  <a href="#", onClick="$(this).closest('form').submit(); return false;">Unfollow</a>
<% end %>
