<%= form_for(@current_user.relationship_products.find_by_followedproduct_id(product), html: { method: :delete }) do |f| %>
  <% if type == "link" %>
    <a href="#" onClick="$(this).closest('form').submit()" title="Click to Unfollow(click again to Follow)">Unfollow</a>
  <% else %>
    <%= f.submit "Unfollow", class: "btn" %>
  <% end %>
<% end %>
