<div class="row-fluid">
<div class="span12">
  <div class="formcontent">
    <div class="row-fluid">
      <%= simple_form_for([ad,ad.comments.build], :html => {:novalidate => true }) do |f| %>
        <%= f.input :description, as: "text", placeholder: "Comment", :label => false, :input_html => { :class => "span12", :rows => "1" } %>
        <div class="onfocusitems">
          <div class="form-actions">Your price <%=  f.input_field :indicative_price_cents %>
            <%= f.submit "POST", class: "btn btn-small btn-primary float-right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<br/>
<br/>


