<redcolor class="text-left">About me: </redcolor>
<table id="tableinfo">
<tr>
<td><em><i class="icon-flag"></i><b>State:</b> <%= image_tag(ad.state+".png", :size => "16x16") %></em>
</td>
</tr>
<tr>
<td colspan=2><em><i class="icon-leaf"></i><b>Description:</b> <%= ad.details %></em></td>
</tr>
</table>
