<script type="text/javascript">
  CloudZoom.quickStart();
</script>
<div class="row-fluid fadeinItems">
  
  <% if session[:ads_view] == 'grid' %>
    <%= link_to "List View", user_ads_path( @user, :show_ads_by => params[:show_ads_by], :ads_view => "list" ) %> | Grid View
  <% else %>
    List View | <%= link_to "Grid View", user_ads_path( @user, :show_ads_by => params[:show_ads_by], :ads_view => "grid" ) %>
  <% end %>
</div>
<% if session[:ads_view] == 'grid' %>
  <%= render 'shared/adgridview' %>
<% else %>
  <%= render 'shared/adlistview' %>
<% end %>


