<section>
	    <%= render 'ads/ad', :ad => @ad, :cloudzoom => true, :showdetails => true %>
<div class="row-fluid">
  <span class="span12">
    <%= render 'shared/adpage_links' %>
  </span>
</div>
<br/>
<div id="chart_div"></div>
<div id="mapcontainer1" class=objectconditional>
  <div id="maphelpcontent1">
     <span class="close"><%= image_tag('delete-gray.png', :size => "20x20") %></span><br/>
     <p>
       <div class="row">
          <%= gmaps({"map_options" => {"auto_zoom" => false, "zoom" => 10, "center_latitude" => @user.latitude, "center_longitude" => @user.longitude }, "markers" => {"data" => @json} }) %>
       </div>
     </p>
  </div>
</div>
            
          </section>

