<div class="span12">
<span class="pointer-up"></span>
<div class="formcontent">
<div class="row-fluid">
  <%= simple_form_for([brand_product,brand_product.reviews.build], :html => {:novalidate => true}) do |f| %>
    <%= f.input :description, as: "text", placeholder: "Write something useful", :label => false, :input_html => { :class => "span12", :rows => "1" } %> 
  <div class="onfocusitems">   
    Your rating?  <%= rating_for brand_product, "quality", class: "float-right" %>
    <%= f.submit "POST", class: "btn btn-small btn-primary float-right" %>
  </div>
  <% end %>
</div>
</div>
</div>





