    <div class="stats">
      <a href="<%= ad_users_path(statobject) %>">
	<i class="icon-user"></i>
        <smallinline id="followers">
          <%= statobject.followers.count %>
        follower/s</smallinline>
      </a>
      
      
    </div>

