<section id=sbrand<%= brand.id %> class="productconditional model<%= model.id %>" ><br/>
<section class="span12 bold text-center"><aboutme>Brand <%= brand.name %>:</aboutme></section> 
<section class="span12"><%= best_in_place brand, :description, :type => :textarea, :nil => "N/A - Click to provide a brand description" %></section>
</section>
