<span class="float-right"><a href="" id="commentslink" class="commentslink">Comments</a>(<%= ad.comments.count %>)</span>
<span class="center">
  <% if ad.comments.any? %>
    <ol class="collection comments-display">
    <%= render :partial => 'comments/comment', :collection => ad.comments, :ad => ad %>
    </ol>
 <% end %>
 <section class="comments-display">
   <%= render 'shared/adcomment_form', :ad => ad %>
  </section>
</span>

