<% if ad.comments.any? %>
  <ol class="collection comments-display no-padding">
    <%= render :partial => 'comments/comment', :collection => ad.comments, :ad => ad, :current_user => current_user %>
  </ol>
<% end %>
<section class="comments-display no-padding">
  <%= render 'shared/adcomment_form', :ad => ad %>
</section>


