<br/>
    <div class="stats">
      <a href="<%= product_users_path(statobject) %>">
        <smallinline id="followers" class="stat">
          <%= statobject.followers.count %>
        follower/s</smallinline>
      </a>
      <a href="<%= product_ads_path(statobject) %>">
        <smallinline id="followers">
          <%= statobject.ads.count %>
        ads/s</smallinline>
      </a>
    </div>

