    <div class="stats">
      <a href="<%= product_users_path(statobject) %>">
	<i class="icon-user"></i>
        <smallinline id="followers" class="stat">
          <%= statobject.followers.count %>
        follower/s</smallinline>
      </a>
      
    </div>
    
