<br/>
    Followers:
    <div class="stats">
      <a href="<%= followers_user_path(statobject) %>">
        <strong id="followers" class="stat">
          <%= statobject.followers.count %>
        </strong>
        users
      </a>
    </div>

