<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_product_user_path(@product) %>">
    <strong id="followers" class="stat">
      <%= @product.followers.count %>
    </strong>
    followers
  </a>
</div>


