<h3>
  <div class="row-fluid">
    <section class="span7 no-padding">
      Review Feed(<%= @brand_product.reviews.count %>)<br/>
    </section>
  </div>
</h3>
<div>
  <% if @brand_product.reviews.any? %>
    <ol class="ads collection">
      <%= render @brand_product.reviews, :current_user => @current_user %>
    </ol>
  <% end %>
</div>

<section class="no-padding">
  <%= render 'shared/adreview_form', :product => @product %>
</section>


