<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Query for product <%= @product.name %> by <%= @user.name %></h1>
    <p>
	My query is: <br/>
	<%= @query.message %>
    </p>
  </body>
</html>
