@import 'bootstrap';


.wrapper { 	width: 980px; 	margin: 0 auto; }
.column-left {
	text-align: right;
}

.block {
 	display: block;
}

        .pointer-up
        {
            border-bottom: solid 7px white;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;

            width: 0;
            left: 0;
            float: left;
            position: relative;
            margin-left: 20px;
            margin-top: -13px;
            z-index: 100;
        } 
.formcontent {
-webkit-border-radius:2%;
  -moz-border-radius:2%;
  border-radius:2%;
  width: auto;
  background-color: white;
  display:block;
  position: relative;
  top: -8px;
  left: 8px;
}
.column-center {
	width: 480px;
	float: left;
}
 
.column-right {
	width: 70%;
  *display: inline-block;
}
footer {
	clear: both;
}

h1, h2, h3, h4, h5, h6  {
	line-height: 1;
	padding-top: 9px;
	margin-top: 45px;
}
body {
    font-family:"helvetica neue",arial,sans-serif;
    font-size:10px;
    color:#211922;
    padding:20px;
}

label,
input,
button,
select,
textarea {

  font-weight: normal;
  line-height: 20px;
}

label {
  display: inline;
  margin-bottom: 2px;
  width: 30%;
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}

.form-actions {
  padding: 2px 2px 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-horizontal .control-label {
  float: left;
  width: 30%;
  padding-top: 2px;
  text-align: right;
}

.input70 {
  width: 100%;
  vertical-align: top;
}
input,
textarea,
.uneditable-input {
  width: 100%;
}


input,
button,
select,
textarea {
  font-family:verdana,arial,helvetica,sans-serif;
  height: 20px;
}

h3-no-padding {
        font-size: 1.5em;
        line-height: 1;
	font-weight: bold;
}
.smallfont {
	font-size: 0.8em;
}
.smallbold {
	font-size: 0.5em;
	font-weight: bold;
}
.no-padding {
 	margin:0;
	padding:0;
}
form{
	margin: 0;
	padding: 0;

}
.display-hidden {
  	display: none;
}

.statviewer{
  -webkit-border-radius:10%;
  -moz-border-radius:10%;
  border-radius:10%;
  border-color: black;
  width: auto;
  padding: 5px 7px;
  border-width: 2px;
  display:block;
  border: 4px groove #eee;
  position: relative;
  top: 10px;
}


.formviewer{
  -webkit-border-radius:2%;
  -moz-border-radius:2%;
  border-radius:2%;
  border-color: black;
  width: auto;
  padding: 5px 7px;
  border-width: 2px;
  display:block;
  border: 1px solid #eee;
  position: relative;
  top: 10px;
  div, input, select{
      display: inline;
    }
}

.reviewfeed {
	display: none;
}

money{
	color: red;
}

.bold {
        font-weight: bold;
}

ad-title {
	font-size: 1.2em;
        normal {
   	  font-weight: normal;
        }
}

.leftmargin20 {
	position: relative;
	margin-left: 20px;
}
.topmargin20 {
	position: relative;
	margin-top: 20px;
}
h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

ul.square {list-style-type:square}

a:visited { color:#006699 };
a:hover { color: #006699; background-color: #eee;  };
a:link { color:#006699 };

.adlink { color: black; };

a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment {
    margin: 0px;
    padding: 0px 0px;
    background-color: #f0f0f0;
    border: 1px solid white;
}
.spacer {
	margin-top: 50px;
}

.half-half-spacer {
	margin-top: 12px;
}
.stat {
  color: #2C7689;
}

.close{
    float: right;
    text-align:right;
    margin-right:10px;
    cursor:pointer
}


.float-right {
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

#logo {
	float: left;
	margin-right: 3px;
	font-size: 1.7em;
	color: #2E8B57;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
 	
}
.text-center {
	text-align: center;
	vertical-align: middle;
}

.text-left {
   text-align: left;
}

#logo:hover {
	color: #2E8B57;
	text-decoration: none;
}
img.ad {
  width: 135px;
  height: 200px;
}
img.floatLeft {
	float: left;
	margin: 4px;
}

img.floatRight {
	float: right;
	margin: 4px;
}

img.relative {
	position: relative;
	top: 100px;
	left: 150px;
}
#row {
	position: relative;
	top: 50px;
}
div1, span {
	padding: 0px 0px;
	margin: 0px 0px;
}
	
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto !important;
	margin-bottom: 0px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

section {
	display: inline;
	margin: 0px 0px;
	padding: 0px 0px;
}

.displayblock {
	display: block;
  -webkit-border-radius:2%;
  -moz-border-radius:2%;
  border-radius:2%;
  padding: 2px;
}
div {
	margin: 0px 0px;
	padding: 0px 0px;
}

.collection {
	list-style: none;
        border: 1px solid white;
        padding: 0px;
	margin: 0px;
	li {
		overflow: auto;
		padding: 0px 0px;
		border-top: 1px solid #eee;
		&:last-child {
			border-bottom: 1px solid #eee;
		}
	}
}

border {
	border: 1px solid #eee;
}

.gravatar {
	float: left;
	margin-right: 10px;
}

aside {
	margin: 35px;
	padding: 9px;
	background-color: white;
	textarea {
		height: 100px;
		margin-bottom: 0px;
	}
}

.backcolor {
        background-color: #eee;
	}

aside header {
		line-height: 1;
		font-size: 1.7em;
		letter-spacing: -1px;
		margin-bottom: 30px; 		
		text-align: center;
		font-weight: normal;
		color: #999;
}


headertag {
		line-height: 1;
		font-size: 1.3em;
		letter-spacing: -1px;
		text-align: center;
		font-weight: bold;
		color: #999;
		text-decoration:underline;
}

headertag:before {
	content: '\00bb';
}
headertag:after {
	content: '\00ab';
}
display-name {
	font-weight: bold;

}
.links {
  columns: 100px 6;
}  
form {
	display: inline;
}
.star {
	display: inline;
}
main strong.stat:before {
  font-weight: bold;
  vertical-align: middle;
}

.addmodel, .addobject_form {
  display: none;
}
.followlink {
	color: gray;
	font-size: 9px;
	cursor: pointer;
}
.stats {
   overflow: auto;

   a {
	float: left;
	padding: 0 6px;
	border-left: 1px solid #e8e8e8;
	color: #006699;
	&:first-child {
	  padding-left: 0;
	  border: 0;
	}
	&:hover {
	  text-decoration: none;
	  color: #eee;
	}
    }

    strong {
	display: block;
    }

    smallinline {
	display: inline;
	color: #006699;
        font-size: 9px;
    }
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
	.gravatar {
	   margin: 1px 1px;
	}
}

.breadcrumb-inactive {
	color: blue;
	text-decoration: underline;
}	

.breadcrumb-active {
	
}

.groupbox {

	background-color: #eee;

}

.float-right {
	float: right;
	
}

.float-right-text {
	float: right;
	text-align: right;
	display: inline;
}
.error_message {
	color: red;
}

@for $i from 1 through 12 {
  .row-fluid .offset#{$i} {
    margin-left: (6.382978723% * $i) + (2.127659574% * $i);
    *margin-left: (6.329787233638298% * $i) + (2.0744680846382977% * $i);
  }
}

.comments-display{
	display: none;
}

.toggler { 
	width: 500px; 
	height: 200px; 
}
.timestamp {
	font-size: 13px;
        font-family: "Times New Roman";
	padding: 0px;
}
.helppadding { 
	padding: 0.5em 1em; 
	text-decoration: none; 
        position: absolute;
}
#effect { 
	width: 240px; 
	height: 135px; 
	padding: 0.4em; 
	position: relative; 
}
#effect h3 { 
	margin: 0; 
	padding: 0.4em; 
	text-align: center; 
}


nav ul li:hover > ul, span {
	display: inline;
left:-20px;
}

nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
	text-align: right;
left:-10px;

}

.dropdown-menu {
	min-width: 10px;
}

.layer1 {
margin: 1px;
padding: 0;

}
 
.brandheading, .currentheading {
margin: 1px;
color: #eee;
padding: 2px 6px;
cursor: pointer;
position: relative;
background-color:#006699;
}
.brandcontent {
padding: 2px 6px;
background-color:#fafafa;
}
p { padding: 5px 0; }

#send-queryform {
  background-color: white;
-webkit-border-radius:2%;
  -moz-border-radius:2%;
  border-radius:2%;
  width: auto;
  background-color: white;
  border: 2px groove #eee;
  padding: 10px;
}
.placecenter {
	position: relative;
	top: 50%;
 	left: 4px;
}
.objectconditional {
	display: none;
}

ul#grid, list#gridproduct {
  padding: 0;
  list-style: none;
  margin: 4px auto 0;
  width: 100%;  
  }

#grid li, #gridproduct listitem {
  z-index: 2;
  float: left;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  word-wrap: break-word;
  margin-bottom: 20px;
  margin-right: 15px;
  } 

#grid li {
  width: 140px;
}
#grid li a, #gridproduct listitem a {
  display: block;
  }

#grid li img, #gridproduct listitem img {
  border-bottom: 1px solid black;
  padding: 2px; 
  margin: 2px;
  width: 135px;
  height: 200px;
  }
 #gridproduct listitem .object {
  border-bottom: 1px solid black;
  padding: 2px; 
  margin: 2px;
  width: 300px;
  height: auto;
  }

#grid li a:hover img,#gridproduct listitem a:hover .object {
opacity:0.3; filter:alpha(opacity=30);
  }

.grid_display {
  padding: 2px;
  margin-left: auto; margin-right: auto;  margin-top:50px; margin-bottom:0;
  /*background-color: #ffd7ce;*/


  /*these two properties will be inherited by .grid_display h2 and .grid_display p */
  
  font-family:verdana,arial,helvetica,sans-serif;
  font-size:small;
  text-align: center;
  }  

div.grid_display h2 {
  padding: 0; margin: 0;
  clear: both;
  font-size: 35px;
  font-weight: normal;
  color: #58595b;
  background: none;
  font-family: 'GraublauWeb', arial, serif;  

  /* reset for cascade effects that are trickling down from other h2's */
  text-transform: none;
  letter-spacing: normal;
  }

.inline_field_wrapper {
    display: inline;
}


button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

redcolor {
 color: red;
}

.font15 {
  font-size: 15px;
}

aboutme {
  font-family: 'Rancho', cursive;
  font-size: 15px;
}
 
label,
input,
button,
select,
textarea {
  font-size: small;
  font-weight: normal;
  line-height: 15px;
}



label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 15px;
  padding: 4px 6px;
  margin-bottom: 0px;
  font-size: small;
  line-height: 15px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

input,
textarea,
.uneditable-input {
  width: auto;
}

textarea {
  height: auto;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 15px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 15px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}

.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}

input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px;
}

input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 846px;
}

input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 766px;
}

.controls-row {
  *zoom: 1;
}

.controls-row:before,
.controls-row:after {
  display: table;
  line-height: 0;
  content: "";
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

.input-append,
.input-prepend {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu {
  font-size: small;
}

select {
 margin-bottom: 0;
 padding: 4px 5px;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 15px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: small;
  font-weight: normal;
  line-height: 15px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}

.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}

.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}

input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}


.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}


legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}


.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}

.form-horizontal .form-actions {
  padding-left: 180px;
}

label {
  font-family:verdana,arial,helvetica,sans-serif;
  font-size:small;
  padding-left: 5px;
  padding-right: 5px;
}

