@import 'bootstrap';

h1, h2, h3, h4, h5, h6  {
	line-height: 1;
	padding-top: 9px;
	margin-top: 45px;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

a:visited { color:blue };
a:hover { color: blue; background-color: $grayLighter  };
a:link { color:blue };

.spacer {
	margin-top: 50px;
}

.half-half-spacer {
	margin-top: 12px;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #2E8B57;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
 	
}

#logo:hover {
	color: #2E8B57;
	text-decoration: none;
}

img.floatLeft {
	float: left;
	margin: 4px;
}

img.floatRight {
	float: right;
	margin: 4px;
}

img.relative {
	position: relative;
	top: 100px;
	left: 150px;
}
#row {
	position: relative;
	top: 50px;
}
	
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto !important;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}


.microposts {
	list-style: none;
	margin: 10px 0 0 0;
	
	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
}

.content {
	display: block;
}

.timestamp {
	color: $grayLighter;
}
.gravatar {
	float: left;
	margin-right: 10px;
}

aside {
	margin: 35px;
	padding: 9px;
	background-color: white;
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

.backcolor {
        background-color: $grayLighter;
	}

aside header {
		line-height: 1;
		font-size: 1.7em;
		letter-spacing: -1px;
		margin-bottom: 30px; 		
		text-align: center;
		font-weight: normal;
		color: #999;
}

.stats {
   overflow: auto;
   a {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #e8e8e8;
	color: gray;
	&:first-child {
	  padding-left: 0;
	  border: 0;
	}
	&:hover {
	  text-decoration: none;
	  color: $blue;
	}
    }

    strong {
	display: block;
    }
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
	.gravatar {
	   margin: 1px 1px;
	}
}

.breadcrumb-inactive {
	color: blue;
	text-decoration: underline;
}	

.breadcrumb-active {
	
}

.groupbox {

	background-color: $grayLighter;

}

.float-right {
	float: right;
}

.error_message {
	color: red;
}

@for $i from 1 through 12 {
  .row-fluid .offset#{$i} {
    margin-left: (6.382978723% * $i) + (2.127659574% * $i);
    *margin-left: (6.329787233638298% * $i) + (2.0744680846382977% * $i);
  }
}

.toggler { 
	width: 500px; 
	height: 200px; 
}
#help { 
	padding: .5em 1em; 
	text-decoration: none; 
}
#effect { 
	width: 240px; 
	height: 135px; 
	padding: 0.4em; 
	position: relative; 
}
#effect h3 { 
	margin: 0; 
	padding: 0.4em; 
	text-align: center; 
}

