@import 'bootstrap';

h1, h2, h3, h4, h5, h6  {
	line-height: 1;
	padding-top: 9px;
	margin-top: 45px;
}

h3-no-padding {
        font-size: 1.5em;
        line-height: 1;
	font-weight: bold;
}
.smallfont {
	font-size: 0.8em;
}
.smallbold {
	font-size: 0.5em;
	font-weight: bold;
}
.no-padding {
 	margin:0;
	padding:0;
}
form{
	margin: 0;
	padding: 0;

}

ad-title {
	font-size: 1.2em;
        normal {
   	  font-weight: normal;
        }
        bold {
          font-weight: bold;
        }
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

a:visited { color:#006699 };
a:hover { color: #006699; background-color: $grayLighter;  };
a:link { color:#006699 };

.adlink { color: black; };

a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment {
    margin: 0px;
    padding: 2px 2px;
    background-color: #f0f0f0;
    border: 1px solid white;
}
.spacer {
	margin-top: 50px;
}

.half-half-spacer {
	margin-top: 12px;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #2E8B57;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
 	
}

#logo:hover {
	color: #2E8B57;
	text-decoration: none;
}

img.floatLeft {
	float: left;
	margin: 4px;
}

img.floatRight {
	float: right;
	margin: 4px;
}

img.relative {
	position: relative;
	top: 100px;
	left: 150px;
}
#row {
	position: relative;
	top: 50px;
}
div, span {
	padding: 0px 0px;
	margin: 0px 0px;
}
	
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto !important;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

section {
	margin: 0px 0px;
	padding: 0px 0px;
}

.collection {
	list-style: none;
        border: 1px solid $grayLighter;
        padding: 0px;
	margin: 0;
	li {
		overflow: auto;
		padding: 2px 2px;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}

border {
	border: 1px solid $grayLighter;
}

.gravatar {
	float: left;
	margin-right: 10px;
}

aside {
	margin: 35px;
	padding: 9px;
	background-color: white;
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

.backcolor {
        background-color: $grayLighter;
	}

aside header {
		line-height: 1;
		font-size: 1.7em;
		letter-spacing: -1px;
		margin-bottom: 30px; 		
		text-align: center;
		font-weight: normal;
		color: #999;
}


headertag {
		line-height: 1;
		font-size: 1.3em;
		letter-spacing: -1px;
		text-align: center;
		font-weight: normal;
		color: #999;
}

display-name {
	font-weight: bold;

}
.links {
  columns: 100px 6;
}  
form {
	display: inline;
}
.stats {
   overflow: auto;
   a {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #e8e8e8;
	color: gray;
	&:first-child {
	  padding-left: 0;
	  border: 0;
	}
	&:hover {
	  text-decoration: none;
	  color: $blue;
	}
    }

    strong {
	display: block;
    }
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
	.gravatar {
	   margin: 1px 1px;
	}
}

.breadcrumb-inactive {
	color: blue;
	text-decoration: underline;
}	

.breadcrumb-active {
	
}

.groupbox {

	background-color: $grayLighter;

}

.float-right {
	float: right;
	
}

.float-right-text {
	float: right;
	text-align: right;
}
.error_message {
	color: red;
}

@for $i from 1 through 12 {
  .row-fluid .offset#{$i} {
    margin-left: (6.382978723% * $i) + (2.127659574% * $i);
    *margin-left: (6.329787233638298% * $i) + (2.0744680846382977% * $i);
  }
}

.comments-display{
	display: none;
}

.toggler { 
	width: 500px; 
	height: 200px; 
}
.timestamp {
	font-size: 13px;
        font-family: "Times New Roman";
	padding: 0px;
}
#help { 
	padding: .5em 1em; 
	text-decoration: none; 
}
#effect { 
	width: 240px; 
	height: 135px; 
	padding: 0.4em; 
	position: relative; 
}
#effect h3 { 
	margin: 0; 
	padding: 0.4em; 
	text-align: center; 
}


nav ul li:hover > ul {
	display: block;
}

nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
	text-align: right;
}

.dropdown-menu {
	min-width: 100px;
}

.layer1 {
margin: 0;
padding: 0;

}
 
.brandheading {
margin: 1px;
color: $grayLighter;
padding: 2px 6px;
cursor: pointer;
position: relative;
background-color:#006699;
}
.brandcontent {
padding: 2px 6px;
background-color:#fafafa;
}
p { padding: 5px 0; }

