<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
</head>
<body class="body">
  <%= render 'layouts/header' %>
    <div class="row-fluid">
      <aside>	
        <div class="span3">
          <section>
 	    <%= render 'shared/productInfo' %>
	  </section>
        </div>
        <div class="span6 offset1">  
	  <section>
            <%= render 'shared/all_reviewfeed' %>
          </section>
        </div>
      </aside>
    </div>
   	
  </body>
</html>
