<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 

        <script>
        $(function() {
            $("#organisation").orgChart({container: $("#main"), stack: true, depth: 3});
        });
        </script>
</head>
<body class="body">
  <%= render 'shared/header' %>
    <div class="row-fluid">
      <aside>	
        <div class="span2">
          <section>

	  </section>
        </div>
        <div class="span8 offset1"> 
	  <section>
 	    <%= render 'shared/objectInfo' %>
            <%= render 'shared/all_reviewfeed' %>
          </section>
        </div>
      </aside>
    </div>
   	
  </body>
</html>


